<% layout('index') -%>
<div class="container" id="main">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <i class="fa fa-times-circle text-display-4 text-danger"></i>
            <h4>Something went wrong.</h4>
            <p class="text-danger"><%=error%></p>
        </div>
    </div>
</div>