<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>radiole - <%=title %></title>
            <meta name="description" content="Watch Spotify playlists and get notified when new tracks get added">
            <meta name="author" content="Amitava Saha">

            <!-- styles -->
            <link href="/static/css/client.css" rel="stylesheet">

        </head>
        <body>
            <div id="main">
                <%- body %>
            </div>
        </body>
</html>