
html, body{
    height: 100%;
}

@media (min-width: 990px) {
    main{
        margin-left: 300px;
    }
}

main{

}
@media (min-width: 300px){

    .navbar-toggle {
        display: block;
    }
}

#main{
    padding: 40px 25px;
    position: relative;

    .content-wrapper{

    }
}

.btn-lg {
    font-weight: 700;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0;
}

a{
    cursor: pointer;
}