.brand-header{
    color: white;
    text-align: center;
    .brand{
        font-size: 6rem;
        font-weight: 700;
        margin-bottom: 60px;
    }

    .about{
        font-size: 2rem;
        margin-bottom: 60px;
    }

    .icons{
        font-size: 6rem;
        margin-bottom: 20px;
        i{
            margin: 0 20px;
        }
    }
}