footer{
    justify-content: center;
    color: #777;
    background: #1e1e1e;
    font-size: 1.2rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 300px;
    .links a {
        margin: 0 10px;
        &:hover{
            color: white;
        }
    }
}