@media (min-width: 768px) {
    .dashboard-nav {
        background-color: #1C1C1F;
        color: #888;
        left: 0;
        list-style: none;
        height: 100%;
        margin: 0;
        overflow-y: auto;
        padding: 0;
        padding-top: 10px;
        position: fixed;
        top: 50px;
        width: 250px;
        z-index: 1;
    }
    .dashboard-nav .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .dashboard-nav ul {
        float: none;
        width: 100%;
    }
    .dashboard-nav ul:not {
        display: block;
    }
    .dashboard-nav li {
        float: none;
        display: block;
    }
    .dashboard-nav li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .dashboard-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin: 0;
        padding: 5px 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .dashboard-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }
    .dashboard-nav .open > a > b.caret {
        border-top: none;
        border-bottom: 4px solid;
    }
}