.sidebar{
    width: 300px;
    min-height:100%;
    position: fixed;
    background: #1c1c1f;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.2);
    left: 0;
    top: 0;
    color: #888;
    z-index: 999;

    hr{
        border-color: #333;
        margin-bottom: 10px;
    }

    .brand{
        padding: 10px;
        margin-bottom: 20px;
        background-color: lighten(#1c1c1f, 10%);
        font-size: 2.5rem;
        font-weight: 700;

        i{
            margin-left: 5px;
            vertical-align: middle;
            color: #848484;
        }
    }

    .menus{
        li {
            a {
                display: block;
                padding: 10px 10px 10px 35px;
                color: #888;
                font-weight: 700;

                &.active{
                    border-left: 4px solid $brand-primary;
                    padding-left: 31px;
                }

                &:hover{
                    background-color: darken(#1c1c1f, 10%);
                    color: #eee;
                }

                i{
                    margin-right: 10px;
                }
            }
        }
    }

    .now-watch{
        >p{
            color: $brand-primary;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 10px;
        }

        .watch-list{
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            bottom: 70px;
            left: 0;
            right: 0;
            top: 280px;
            li {
                margin-bottom: 10px;
                box-shadow: 0 1px 2px rgba(0,0,0,.50);
                a{
                    color: #E0E0E0;
                    white-space: nowrap;
                    display: block;
                    margin-left: 10px;

                    &:hover{
                        background-color: darken(#1c1c1f, 10%);
                        color: #eee;
                    }
                    img{
                        width: 64px;
                        height: 64px;
                        margin-right: 10px;
                    }
                    span{

                    }
                }
            }
        }
    }
}