.sidebar{
    width: 300px;
    min-height:100%;
    position: fixed;
    background: #1c1c1f;
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.2);
    left: 0;
    top: 0;
    color: #888;
    z-index: 999;

    hr{
        border-color: #333;
        margin-bottom: 10px;
    }

    .brand{
        padding: 10px;
        margin-bottom: 20px;
        background-color: lighten(#1c1c1f, 10%);
        font-size: 2.5rem;
        font-weight: 700;

        i{
            margin-left: 5px;
            vertical-align: middle;
            color: #848484;
        }
    }

    .menus{
        li {
            a {
                display: block;
                padding: 10px 10px 10px 35px;
                color: #888;
                font-weight: 700;

                &.active{
                    border-left: 4px solid $brand-primary;
                    padding-left: 31px;
                }

                &:hover{
                    background-color: darken(#1c1c1f, 10%);
                    color: #eee;
                }

                i{
                    margin-right: 10px;
                }
            }
        }
    }

    .now-watch{
        >p{
            color: $brand-primary;
            text-transform: uppercase;
            font-weight: 600;
            margin-left: 10px;
        }

        .watch-list{
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            bottom: 70px;
            left: 0;
            right: 0;
            top: 280px;
            li {
                margin-bottom: 10px;
                box-shadow: 0 1px 2px rgba(0,0,0,.50);
                a{
                    color: #E0E0E0;
                    white-space: nowrap;
                    display: block;
                    margin-left: 10px;

                    &:hover{
                        background-color: darken(#1c1c1f, 10%);
                        color: #eee;
                    }
                    img{
                        width: 64px;
                        height: 64px;
                        margin-right: 10px;
                    }
                    span{

                    }
                }
            }
        }
    }
}
//
//@media (min-width: 768px) {
//    .dashboard-nav {
//        background-color: #1C1C1F;
//        color: #888;
//        left: 0;
//        list-style: none;
//        height: 100%;
//        margin: 0;
//        overflow-y: auto;
//        padding: 0;
//        padding-top: 10px;
//        position: fixed;
//        top: 50px;
//        width: 250px;
//        z-index: 1;
//    }
//    .dashboard-nav .navbar-collapse {
//        padding: 0;
//        max-height: none;
//    }
//    .dashboard-nav ul {
//        float: none;
//        width: 100%;
//    }
//    .dashboard-nav ul:not {
//        display: block;
//    }
//    .dashboard-nav li {
//        float: none;
//        display: block;
//    }
//    .dashboard-nav li a {
//        padding-top: 12px;
//        padding-bottom: 12px;
//    }
//    .dashboard-nav .open .dropdown-menu {
//        position: static;
//        float: none;
//        width: auto;
//        margin: 0;
//        padding: 5px 0;
//        background-color: transparent;
//        border: 0;
//        -webkit-box-shadow: none;
//        box-shadow: none;
//    }
//    .dashboard-nav .open .dropdown-menu > li > a {
//        padding: 5px 15px 5px 25px;
//    }
//    .dashboard-nav .open > a > b.caret {
//        border-top: none;
//        border-bottom: 4px solid;
//    }
//}