#toast-container{
    position: fixed;
    bottom: 0;
    left: 10px;
    .toast-item {
        display: flex;
        align-items: center;
        background: $info;
        max-width: 400px;
        padding: 10px 15px;
        min-width: 250px;
        position: relative;
        color: #FFF;
        margin-bottom: 10px;
        box-shadow: 0px 1px 1px rgba(0,0,0,.5);

        .fa {
            font-size: 2.5rem;
            margin-right: 10px;
        }
        .fa.close{
            font-size: 1rem;
            position: absolute;
            right: 0;
            cursor: pointer;
        }

        .toast-text {
            margin: 0;
            padding-right: 15px;
        }

        &.success {
            background-color: $success;
        }

        &.warn {
            background-color: $warn;
        }

        &.error {
            background-color: $error;
        }
    }
}