.settings-container{
    padding: 20px 30px;
    background-color: #23b7e5;
    form{
        width: 400px;
        margin: 0 auto;
        .radio-group{
            display: flex;
            flex-direction: row;
            >div{
                flex: 1;
            }
        }
    }

    .brand {
        margin-bottom: 0;
    }
}